<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="/">
      <%= image_tag "logo_cuillere.png", id: "logo" %>
    </a>


    <div class="navbar-wagon-pusher"></div>
    <%= link_to "Add a restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</nav>
